@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#container {
    padding: 1.5rem;

    background-color: #fff;
    border-radius: .5rem;
}

header {
    font-size: 2rem;
    margin-bottom: 1.4rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

form div {
    display: flex;
    flex-direction: column;
}

form div input {
    all: unset;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: .4rem;
    padding: .4rem;
    margin-top: .2rem;
}

form div input:focus {
    border-color: #4b8cf5c2;
}

form div span {
    font-size: .8rem;
    color: #ff4d4d;
}

form #btns {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: 1rem;
}

form #btns button {
    all: unset;
    text-align: center;
    cursor: pointer;
    padding: .4rem .2rem;
    border-radius: .4rem;
    color: white
}

form #btns button[type="submit"] {
    background-color: #4b8cf5;
}

form #btns button[type="reset"] {
    background-color: #777;
}

form #btns button:hover {
    opacity: .9;
}

#showResult {
    margin-top: 1.6rem;
    background-color: #ededed;
    border-radius: .6rem;
    padding: .4rem 1rem;
}

#showResult h2 {
    border-bottom: 2px dashed #ccc;
    margin-bottom: 1rem;
}

.ocult {
    display: none;
}